name: VALIDATE PULL REQUEST

on:
  pull_request:
    branches:
      - main
      - sit
      - master
      - uat2
      # Add all other branches from your Azure YAML here

jobs:
  validate:
    runs-on: ubuntu-latest
    # Reference your newly published Docker image
    container:
      image: sanjaxsf/prulife-sf:latest
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - name: Environment Sanity Check
        run: |
          echo "Checking installed tools..."
          sf --version
          sf plugins
          ant -version
          node -v
          pmd --version || echo "PMD version check skipped"
