name: VALIDATE PULL REQUEST (Reusable)

on:
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
      target_branch:
        required: true
        type: string
    secrets:
      GH_PAT:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
      SF_AUTH_URL_DEV:
        required: false
      SF_AUTH_URL_UAT:
        required: false
      SF_AUTH_URL_PROD:
        required: false

jobs:
  validate:
    if: contains(fromJson('["main","dev","uat"]'), inputs.target_branch)
    runs-on: ubuntu-latest

    container:
      image: sanjaxsf/prulife-sf:1.0.3
      options: --pull always
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    steps:

      - name: Display PR Info
        run: |
          echo "Source Branch: ${{ inputs.source_branch }}"
          echo "Target Branch: ${{ inputs.target_branch }}"
          
      - name: Validate Target Branch
        run: |
          if ! grep -qx "${{ inputs.target_branch }}" config/branches.txt; then
            echo "Branch '${{ inputs.target_branch }}' is NOT allowed."
            echo "Skipping pipeline execution."
            exit 0
          fi
          echo "Branch allowed. Continuing..."
          
      - name: Checkout Salesforce Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.source_branch }}
          fetch-depth: 0

      - name: Environment Sanity Check
        run: |
          echo "Checking installed tools..."
          sf --version
          sf plugins
          ant -version
          node -v
          pmd --version || echo "PMD version check skipped"

      - name: Fix Git Safe Directory
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Fetch Target Branch
        run: git fetch origin ${{ inputs.target_branch }}

      - name: Compute Merge Base
        id: mergebase
        run: |
          MERGE_BASE=$(git merge-base HEAD origin/${{ inputs.target_branch }})
          echo "merge_base=$MERGE_BASE" >> $GITHUB_OUTPUT
          echo "Merge Base: $MERGE_BASE"

      - name: Verify SF CLI & Plugins
        run: |
          sf version
          sf plugins

      - name: Generate Delta Package
        run: |
          mkdir force-app-delta
          sf sgd:source:delta \
            --to HEAD \
            --from ${{ steps.mergebase.outputs.merge_base }} \
            --output-dir force-app-delta \
            --source-dir force-app

      - name: Show Delta Structure
        run: |
          ls -R force-app-delta || echo "No delta generated"

      - name: Print Generated package.xml
        run: |
          if [ -f force-app-delta/package/package.xml ]; then
            echo "================ PACKAGE.XML ================"
            cat force-app-delta/package/package.xml
            echo "============================================="
          else
            echo "No package.xml generated"
          fi

      - name: Print Generated destructiveChanges.xml
        run: |
          if [ -f force-app-delta/destructiveChanges/destructiveChanges.xml ]; then
            echo "========== DESTRUCTIVE CHANGES XML =========="
            cat force-app-delta/destructiveChanges/destructiveChanges.xml
            echo "============================================="
          else      
            echo "No destructiveChanges.xml generated"
          fi

     # =====================================================
      # Resolve Environment From Branch
      # =====================================================
      - name: Resolve Environment Mapping
        id: resolve_env
        run: |
          case "${{ inputs.target_branch }}" in
            dev)
              ENV_NAME="SANDEV"
              AUTH_SECRET="SF_AUTH_URL_DEV"
              ;;
            uat)
              ENV_NAME="SANUAT"
              AUTH_SECRET="SF_AUTH_URL_UAT"
              ;;
            main)
              ENV_NAME="SANPROD"
              AUTH_SECRET="SF_AUTH_URL_PROD"
              ;;
            *)
              echo "Branch not supported. Exiting."
              exit 1
              ;;
          esac

          echo "Resolved Environment: $ENV_NAME"
          echo "Using Auth Secret: $AUTH_SECRET"

          echo "env_name=$ENV_NAME" >> $GITHUB_OUTPUT
          echo "auth_secret=$AUTH_SECRET" >> $GITHUB_OUTPUT
          
      # =====================================================
      # Replace Placeholders
      # =====================================================
          
      - name: "Replace placeholders with environment property values"
        run: |
          PROJECT_ROOT=$(find . -name "build.xml" -exec dirname {} \;)
          echo "Found build.xml in: $PROJECT_ROOT"
          cd "$PROJECT_ROOT"
          
          TARGET_BRANCH="${{ github.base_ref }}"
          echo "Using Target Branch: $TARGET_BRANCH"
          
          case "$TARGET_BRANCH" in
            "dev")      ENV="SANDEV" ;;
            "uat")      ENV="SANUAT" ;;
            *)
              echo "Unknown Branch ($TARGET_BRANCH), Exiting"
              exit 1
              ;;
          esac

          echo "Preparing $ENV Properties"
          ant prepare -Dsf.env=$ENV


      # =====================================================
      # PMD Setup and Scan
      # =====================================================
     # Register custom rules
    
      - name: Register Custom Scanner Rules
        run: |
          sf scanner rule add --language xml \
            --path "./scripts/pmd/category/xml/xml_custom_rules.xml"
      
          sf scanner rule add --language apex \
            --path "./scripts/pmd/category/apex/apex_custom_rules.xml"
      
      # Run PMD scan
      - name: Run PMD Scan on Delta
        run: |
          export SF_SCANNER_TARGET_APIV=65.0
      
          sf scanner run \
            --target "./force-app-delta/force-app/" \
            --pmdconfig "./scripts/pmd/rulesets/critical_scan.xml" \
            --severity-threshold "1" \
            --engine "pmd" \
            --format csv \
            --outfile pmd-delta-report.csv
            
      # Upload the Delta PMD scan
      - name: Upload PMD Delta Report
        uses: actions/upload-artifact@v4
        with:
          name: CodeScanReport_PMD_Delta
          path: pmd-delta-report.csv
        if: always()

      - name: Run LWC ESLint Scan (Delta Only)
        id: eslint
        continue-on-error: true
        run: |
          if [ ! -d "force-app-delta/force-app" ]; then
            echo "No delta folder found. Skipping ESLint scan."
            exit 0
          fi
      
          echo "Executing ESLint Scan on Delta..."
      
          sf scanner run \
            --target "./force-app-delta/force-app/**/*.js" \
            --eslintconfig "./scripts/eslint/.eslintrc.json" \
            --severity-threshold 1 \
            --engine eslint-lwc \
            --format csv
            --outfile eslint-report.csv

          echo "Scan Complete"

      - name: Upload ESLint Report
        uses: actions/upload-artifact@v4
        with:
           name: ESLint-Report
           path: eslint-report.csv
            
      # =====================================================
      # Authenticate to Target Org (Dynamic Secret Selection)
      # =====================================================
      - name: Authenticate to Target Org
        run: |
          case "${{ steps.resolve_env.outputs.auth_secret }}" in
            SF_AUTH_URL_DEV)
              AUTH_VALUE="${{ secrets.SF_AUTH_URL_DEV }}"
              ;;
            SF_AUTH_URL_UAT)
              AUTH_VALUE="${{ secrets.SF_AUTH_URL_UAT }}"
              ;;
            SF_AUTH_URL_PROD)
              AUTH_VALUE="${{ secrets.SF_AUTH_URL_PROD }}"
              ;;
            *)
              echo "No matching auth secret found"
              exit 1
              ;;
          esac

          if [ -z "$AUTH_VALUE" ]; then
            echo "Auth secret is empty!"
            exit 1
          fi

          echo "$AUTH_VALUE" > token.txt
          sf auth sfdxurl store -f token.txt -a myOrg -s
          rm token.txt

      - name: Verify Auth
        run: sf org list

     # =====================================================
      # Validate to Target Org 
      # =====================================================
      
      - name: Delta Validation to Target Org
        shell: bash
        run: |
          if [ -f force-app-delta/package/package.xml ] && [ $(wc -l < force-app-delta/package/package.xml) -gt 4 ]; then
      
            NUMBER_OF_COMPONENTS=$(grep -o "<members>" force-app-delta/package/package.xml | wc -l)
      
            if [ $(egrep 'name>ApexClass|name>ApexTrigger' force-app-delta/package/package.xml | wc -l) -lt 1 ]; then
      
              echo "Validating Delta and NOT running Apex tests ($NUMBER_OF_COMPONENTS components)"
      
              sf project deploy start \
                --ignore-warnings \
                --manifest force-app-delta/package/package.xml \
                --test-level NoTestRun \
                --dry-run \
                --target-org myOrg \
                --wait 100 \
                --json \
                --api-version 65.0
      
            else
      
              echo "Apex detected in delta."
      
              SPECIFIED_TESTS=$(find deploy -type f \( -iname "*Test.cls" -o -iname "*test.cls" \) \
                | sed 's#.*/##' \
                | sed 's/.cls$//' \
                | tr '\n' ' ')
              
              if [ -z "$SPECIFIED_TESTS" ]; then
                echo "You are committing Apex Classes or Triggers without including any test class."
                echo "Please commit respective Test Classes."
                exit 1
              fi
      
              echo "Executing the following Test Classes:"
              echo "$SPECIFIED_TESTS"
      
              sf project deploy start \
                --ignore-warnings \
                --manifest force-app-delta/package/package.xml \
                --test-level RunSpecifiedTests \
                --tests $SPECIFIED_TESTS \
                --dry-run \
                --target-org myOrg \
                --wait 100 \                
                --api-version 65.0 \
                --json > deploy-result.json

              echo "Deployment JSON result:"
              cat deploy-result.json
          
           else
            echo "No SF changes found. Deployment skipped."
          fi
          
              STATUS=$(jq -r '.result.status // .status' deploy-result.json)

            # Checking Validation Status
            
              if [ "$STATUS" != "Succeeded" ]; then
                echo "Deployment validation failed."
                exit 1
              fi
          
              echo "Deployment validation succeeded."
            fi
      
         
      
    

